{% extends './base.html.twig' %}
{% block body %}


    <h1>admin</h1>
    <a href={{ path('userModif') }}>modif profil</a>

    <h3>Profil</h3>
    <p>nom : {{ user.nom }}</p>
    <p>prénom : {{ user.prenom }}</p>
    <p>email : {{ user.email }}</p>
    <p>description : {{ user.presentation }}</p>
    <p>adresse : {{ user.adresse }}</p>
    <p>telephone : {{ user.tel }}</p>
    <p>CV : {{ user.pdf }}</p>
    <p>image : {{ user.image }}</p>

{#    <ul>#}
{#    <li>#}
{#        <a href=\"{{ path('user_show', {'id': user.id}) }}\">{{ user.username }}</a>#}
{#    </li>#}
{#    <li>#}
{#        <a href=\"{{ path('user_edit', {'id': user.id}) }}\">Editer</a>#}
{#    </li>#}
    <h3>projets</h3>
    <a href="admin/ajouterProjet">ajouter un projet</a>
    {% if  user.projet != null %}
        {% set projets = user.projet %}
        {% for projet in projets %}
            {{ projet.nom }}
            {{ projet.description }}
            {{ projet.debut|date('d/m/Y') }}
            {{ projet.fin|date('d/m/Y') }}
            {{ projet.chargeTravail }}
            {{ projet.repartition }}
            {% set outils = projet.outils %}
            {% set technos = projet.techno %}
            {% for techno in technos %}
                {{ techno.label }}
            {% endfor %}
            {% for outil in outils %}
                {{ outil.label }}
            {% endfor %}
            {% if projet.images != null %}
                {% set images = projet.images %}
                {% for image in images %}
                    {{ image }}
                    <img src="uploads/images/{{ image }}" alt="">{{ image }}
                {% endfor %}
            {% endif %}

            {{ projet.pdfName }}
            <a href="admin/modifProjet/{{ projet.id }}">modifier</a>
            <a href="admin/suppProjet/{{ projet.id }}">supprimer</a>
        {% endfor %}
    {% endif %}
    <h3>competence </h3>
    <a href="admin/ajouterCompetence">ajouter une competence</a>
    {% if  user.competences != null %}
        {% set competences = user.competences %}
        {% for competence in competences %}
            {{ competence.nom }}
            {{ competence.dateInitiation|date('d/m/Y') }}
            {{ competence.description }}
            {{ competence.images }}
            <img src="uploads/images/{{ competence.images }}" alt="">
            <a href="admin/modifCompetence/{{ competence.id }}">modifier</a>
            <a href="admin/suppCompetence/{{ competence.id }}">supprimer</a>
        {% endfor %}
    {% endif %}

{% endblock %}