{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#profil">{{ user.nom }} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projet">projet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#competence">competence</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#formulaire">contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ user.image }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><p>{{ user.nom }}</p>
                    <p>{{ user.prenom }}</p></p>
                    <p class="card-text"><small class="text-muted"><p>{{ user.presentation }}</p>
                    <p>CV : {{ user.pdf }}</p>
                </div>
            </div>
        </div>
    </div>





    {# <ul> #}
    {# <li> #}
    {# <a href=\"{{ path('user_show', {'id': user.id}) }}\">{{ user.username }}</a> #}
    {# </li> #}
    {# <li> #}
    {# <a href=\"{{ path('user_edit', {'id': user.id}) }}\">Editer</a> #}
    {# </li> #}
    <h3 id="projet">projets</h3>
    {% if  user.projet != null %}

        {% set projets = user.projet %}
        {% for projet in projets %}
            {% set nb = projet.images|length %}

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="">{% if projet.images != null %}
            {% set images = projet.images %}
            <div>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    {% for i in range(1, nb) %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ i }}"
                                {% if i == 1 %}
                                    class="active" aria-current="true"
                                {% endif %}
                                aria-label="Slide {{ i }}"></button>
                        {{ i }}
                    {% endfor %}

                </div>
                <div class="carousel-inner" style="max-height: 200px; min-height: 200px">
                    {% for image in images %}
                        {{ loop.index }}
                        <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                            <img src="uploads/images/{{ image }}" class="d-block w-100" alt="...">
                        </div>
                    {% endfor %}

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ projet.nom }}</h5>
                <p class="card-text">{{ projet.description }}</p>
            </div>
            <div class="card-body" style="line-height : 1;">

            <p>date début : {{ projet.debut|date('d/m/Y') }}</p>
            <p>date fin : {{ projet.fin|date('d/m/Y') }}</p>
            <p>charge de travail : {{ projet.chargeTravail }}</p>
            <p>repartition du travauil : {{ projet.repartition }} </p>
            {% set outils = projet.outils %}
            {% set technos = projet.techno %}
            <p>techno utilisé :
            {% for techno in technos %}
                {{ techno.label }}</p>
            {% endfor %}
            <p>outil utilisé :
            {% for outil in outils %}
                {{ outil.label }}</p>
            {% endfor %}


            <p>pdf : {{ projet.pdfName }}</p>
        {% endfor %}
    {% endif %}
    </div>
    </div>
    </div>

    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
							<span class="date">
								<span class="month">Septembre</span>
								<span class="year">2020</span>
							</span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">HTML &amp; CSS</h5>
            <p class="description">
                Initiation au HTML & CSS
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
							<span class="date">
								<span class="month">Octobre</span>
								<span class="year">2020</span>
							</span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">C#</h5>
            <p class="description">
                Initiation au C#
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
							<span class="date">
								<span class="month">Octobre</span>
								<span class="year">2020</span>
							</span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Wordpress</h5>
            <p class="description">
                Initiation au CMS WordPress
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
							<span class="date">
								<span class="month">Octobre</span>
								<span class="year">2020</span>
							</span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">SQL</h5>
            <p class="description">
                Initiation au SQL
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
							<span class="date">
								<span class="month">Novembre</span>
								<span class="year">2020</span>
							</span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Bootstrap & jQuery</h5>
            <p class="description">
                Initiation à Bootstrap & jQuery pour le dynamisme et le responsive
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
							<span class="date">
								<span class="month">Decembre</span>
								<span class="year">2020</span>
							</span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">PHP</h5>
            <p class="description">
                Initiation au PHP
            </p>
        </div>
    </div>
    <!-- end experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
							<span class="date">
								<span class="month">Octobre</span>
								<span class="year">2021</span>
							</span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Symfony</h5>
            <p class="description">
                Initiation à Symfony
            </p>
        </div>
    </div>
    </div>

    </div>

    <section class="resume-section p-4 p-lg-5 text-center" id="formulaire">
        <div class="formulaire">
            <h1 class="titreformulaire">Formulaire</h1>
            <div class="my-auto">
                <div class="ligneformulaire">
                </div>
                <ul class="fa-ul mb-4 ml-0">
                    <p style=" margin-right:2%; ">{{ user.email }}</p>
                    <p style=" margin-right:2%; ">{{ user.tel }}</p>
                    <p style=" margin-right:2%; ">{{ user.adresse }}</p>
                </ul>
                <form class="contact-form d-flex flex-column align-items-center" action="/index.php" role="form" method="POST">
                    <div class="form-group">
                        {{ form_start(form, { attr: { id: 'form-cotact', novalidate: 'novalidate' } }) }}
                        {{ form_row(form) }}
                    </div>
                    <button class="btn btn-success" style="margin-top: 3%" type="submit">Ajouter</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}